:host ::ng-deep .p-highlight.p-togglebutton,
:host ::ng-deep .p-highlight.p-togglebutton:hover {
    background: #07c700fb;
    border: none;
    color: white;
}
  
:host ::ng-deep .p-togglebutton:focus {
    box-shadow: 0 0 0 0.2rem #07c700fb;
}